.card-control {
    border: 0.3rem solid #999;
    padding: 0.8rem;
    margin-top: 0.6rem;
    list-style-type: none;
}

.btn-control {
    text-align: right;
}

.btn-control button {
    border-radius: 6px;
    background-color: orangered;
}